{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="card row">
    <div class="col-md-3 me-auto card-header">
        <img class="img img-fluid imgStyle"  src="{% static 'image/login.png' %}" alt="logo">
    </div>
    <div class="card-body">
        <h3>yes i am</h3>
    </div>
    <div class="card-footer">
        <h6>hello word</h6>
    </div>

</div>
</body>
</html>